.logo{
    position:absolute;
    top:0px;
    left:0px;
    width: 100px;
    height:100px;
    margin-right: 40px;

  }
  body{
    background-color: #fff;
  }
  .btn{
    margin-left: 520px;
  }
  .top{
    font-size: 1rem;
    margin: 100px 100px;
  }
  .big-heading{

    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif solid bold;
    
    font-size: 4rem;
    line-height: 1.5;
    color: rgb(11, 11, 107);
    margin-left: 20px;
  
  }
  .title-image{
    width:60%;
  }
  .yes{
    display: flex;
    margin: 20px 20px;
  }
  .footer{
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
}
  